################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/yumyum
/.vs/test/v17
/.vs/test/FileContentIndex
/.vs/slnx.sqlite
/.vs/yumyum/v17/.wsuo
/.gitignore
/.gitignore
